{% extends "layout.html" %} 

{% block title %} Головна сторінка {% endblock %}

{%block header %} Новини {% endblock %} {% block content %}

<h2 class="text-center mb-4">Стрічка новин</h2>
{% if news %}
<div class="row">
  {% for article in news %}
  <div class="col-md-6">
    <div class="news-card">
      <h3>{{ article.title }}</h3>
      <a href="{{ article.link }}" class="btn btn-primary mt-2" target="_blank"
        >Читати далі</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="text-center text-muted">
  Новини відсутні або не вдалося завантажити.
</p>
{% endif %} {% endblock %}
